
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (TempData["Msg"] != null) { 
    <p class="alert alert-success" >@TempData["Msg"]</p>
}
<a href="/Student/Create">Create</a>

@if (Model.Count != 0)
{
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Cgpa</th>
            <th>Dob</th>
            <td></td>
        </tr>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Name</td>
                <td>@s.Id</td>
                <td>@s.Cgpa</td>
                <td>@s.Dob.ToString("MMMM dd, yyyy")</td>
                <td>
                    <a href="/Student/Edit/@s.Id" class="btn btn-primary">Edit</a>
                    <a href="/Student/Delete/@s.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
}
else { 
    <h4>No Data</h4>
}

